.image-slide {
    text-align: center;
    margin: 0;
    position: relative;
	height: 100%;
    width: 100%;
    max-width: 65%;

    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}