.App {
  text-align: center;
  height:100%;
  width: 100%;
  margin: 0;
  position: relative;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
